<div class="doxter-video">
	{%- if name == 'youtube' -%}
		<iframe
			width="560"
			height="315"
			src="https://youtube.com/embed/{{ src }}"
			frameborder="0"
			webkitallowfullscreen
			mozallowfullscreen
			allowfullscreen>
		</iframe>
	{%- endif -%}
	{% if name == 'vimeo' %}
		<iframe
			width="560"
			height="315"
			src="https://player.vimeo.com/video/{{ src }}?color={{ color }}&title={{ title }}&byline={{ byline }}&portrait=0"
			frameborder="0"
			webkitallowfullscreen
			mozallowfullscreen
			allowfullscreen>
		</iframe>
	{%- endif -%}
</div>
