{% set snippetJs %}
	var doxterEditorConfig = {
		textarea: document.getElementById("fields-markdown"),
		replaceTab: true,
		softTabs: {{ settings.enableSoftTabs }},
		tabSize: {{ settings.tabSize }},
		autoOpen: true,
		overwrite: true,
		autoStrip: true,
		autoIndent: true,
		fence: false
	}
{% endset %}

<div id="doxter">
	<ul class="doxter-tabs">
		<li class="doxter-tab">
			<a href="#fields-editor-tab" class="btn submit">Write</a>
		</li>
		<li class="doxter-tab">
			<a href="#fields-preview-tab" class="btn submit">Preview</a>
		</li>
	</ul>
	<hr>
	<div id="editor-tab">
		<textarea
			{{ false == enableWordWrap ? 'wrap="off"' : '' }}
			class="text fullwidth editor code"
			id="markdown" name="{{ name }}">{{ value }}</textarea>
	</div>
	<div id="preview-tab">
		<div class="preview"></div>
	</div>
</div>

{% includeJs snippetJs %}
