<div id="{{ inputId }}Canvas" class="doxterHidden doxterContainer">
	<div class="doxterToolbar">
		<a id="{{ inputId }}SelectEntry" href="#" title="Entries">|</a>
		<a id="{{ inputId }}SelectAsset" href="#" title="Assets" class="large">b</a>
		<a id="{{ inputId }}SelectUser" href="#" title="Users" class="medium">z</a>
		<a id="{{ inputId }}SelectTag" href="#" title="Tags"></a>
		<a id="{{ inputId }}SelectGlobal" href="#" title="Globals">g</a>
		<a id="{{ inputId }}SelectCategory" href="#" title="Categories"></a>
	</div>
	<div class="doxterEditorContainer">
		<pre id="{{ inputId }}Fake">{{ value }}</pre>
	</div>

	<input type="hidden" id="{{ inputId }}" name="{{ name }}" value="{{ value }}">
</div>
