<div id="{{ inputId }}Canvas" class="doxterHidden">
	<div class="doxterToolbar">
		<a id="{{ inputId }}SelectEntry" href="#">|</a>
		<a id="{{ inputId }}SelectAsset" href="#" class="large">b</a>
		<a id="{{ inputId }}SelectUser" href="#" class="medium">z</a>
		<a id="{{ inputId }}SelectTag" href="#"></a>
		<a id="{{ inputId }}SelectGlobal" href="#">g</a>
		<a id="{{ inputId }}SelectCategory" href="#"></a>
	</div>
	<div class="doxterEditorContainer">
		<pre id="{{ inputId }}Fake">{{ value }}</pre>
	</div>

	<input type="hidden" id="{{ inputId }}" name="{{ name }}" value="{{ value }}">
</div>
