{% import "_includes/forms" as forms %}

<hr>

<p>{{ "Convert Tabs To Spaces?" | t }}</p>
{{
	forms.lightswitch({
		name:		"enableSoftTabs",
		on:			settings.enableSoftTabs
	})
}}
{{
	forms.textField({
		id:				"tabSize",
		name:			"tabSize",
		size:			true,
		label:			"Tab Size"|t,
		value:			settings.tabSize ? settings.tabSize : 4,
		errors:			""
	})
}}
{{
	forms.textField({
		id:				"rows",
		name:			"rows",
		size:			true,
		label:			"Textarea Rows"|t,
		value:			settings.rows ? settings.rows : 20,
		errors:			""
	})
}}
