{% set toolbar %}
	<div class="doxterToolbar">
		<p>
			<a id="{{ inputId }}SelectEntry" href="#" title="Entries">|</a>
			<a id="{{ inputId }}SelectAsset" href="#" title="Assets" class="large"></a>
			<a id="{{ inputId }}SelectUser" href="#" title="Users" class="medium">z</a>
			<a id="{{ inputId }}SelectTag" href="#" title="Tags"></a>
			<a id="{{ inputId }}SelectGlobal" href="#" title="Globals">g</a>
			<a id="{{ inputId }}SelectCategory" href="#" title="Categories"></a>
		</p>
	</div>
{% endset %}

<div id="{{ inputId }}Canvas">
	{{ toolbarPlacement == "top" or toolbarPlacement == "both" ? toolbar : null }}
	{{ field|raw }}
	{{ toolbarPlacement == "bottom" or toolbarPlacement == "both" ? toolbar : null }}
</div>
