.doxterHidden {
  visibility: hidden;
}
.doxterSettings h2, .doxterSettings h3 {
  color: #444;
}
.doxterSettings h3.ico {
  padding-left: 32px;
  line-height: 32px;
  background-repeat: no-repeat;
  background-position: left center;
}
.doxterSettings h3.syntax {
  background-image: url(../img/syntax.png);
}
.doxterSettings h3.settings {
  background-image: url(../img/settings.png);
}
.doxterSettings .subtle {
  color: #bbb;
}
.doxterSettings .notice {
  color: #aaa;
  font-family: serif;
  font-style: italic;
}
.doxterSettings .doxterSection {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px dotted #bbb;
}
