.doxterHidden {
	visibility: hidden;
}

.doxterSettings h2,
.doxterSettings h3 {
	color: #444;
}

.doxterSettings h3.ico {
	line-height: 32px;
	padding-left: 32px;
	background-repeat: no-repeat;
	background-position: left center;
}

.doxterSettings h3.syntax {
	background-image: url(../img/syntax.png);
}

.doxterSettings h3.settings {
	background-image: url(../img/settings.png);
}

.doxterBlock {
	padding-top: 30px;
	display: block;
}

.doxterFirst {
	padding-top: 0;
}

.doxterSettings .subtle {
	color: #bbb;
}

.doxterSettings .notice {
	color: #aaa;
	font-family: serif;
	font-style: italic;
}

.doxterSettings .doxterSection {
	margin-top: 40px;
	padding-top: 20px;
	border-top: 1px dotted #bbb;
}

.doxterSettings .checkboxGroup div {
	display: inline;
}

.doxterToolbar {
	padding: 2em 0;
}

.doxterToolbar a {
	color: #333;
	font-size: 1.5em;
	font-family: Craft, sans-serif;
	padding: 0.25em 0.5em;
	margin-bottom: .25em;
	text-align: center;
	text-decoration: none;
	background-color: #eee;
	border: 1px solid #ddd;
	background: #f6f6f6;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #ffffff));
	background: -ms-linear-gradient(bottom, #e6e6e6, #ffffff);
	background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #ffffff 100%);
	background: -o-linear-gradient(#ffffff, #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
