{% import "_includes/forms" as forms %}

{% set name		= craft.doxter.getName(true) %}
{% set alias	= craft.doxter.getName() %}
{% set version	= craft.doxter.getVersion() %}

{% block content %}
	<div class="doxterSettings">
		<h2>
			<a href="{{ craft.doxter.getCpUrl() }}">
				{{ name }} <span class="subtle">V{{ version }} {% if alias != name %}AKA ({{ alias }}){% endif %}</span>
			</a>
		</h2>
		<p>
			<em>{{ name }}</em> is a <strong>markdown</strong> plugin designed to improve the way you write documentation
		</p>

		<div class="doxterSection">
			<h3 class="ico syntax">Parsing Settings</h3>
			<p>Parse <a href="http://buildwithcraft.com/docs/reference-tags" title="Reference Tags">Reference Tags</a>?</p>
			<p class="subtle">Tells Doxter to parse reference tags</p>
			{{
				forms.lightswitch({
					name:		"parseReferenceTags",
					on:			settings.parseReferenceTags
				})
			}}
			<p>Parse Headers?</p>
			<p class="subtle">Tells Doxter to parse headers and make them clickable.</p>
			{{
				forms.lightswitch({
					name:		"addHeaderAnchors",
					on:			settings.addHeaderAnchors
				})
			}}
			<hr>
			{{
				forms.textField({
					id:				"addHeaderAnchorsTo",
					name:			"addHeaderAnchorsTo",
					label:			"Headers To Parse" | t,
					instructions:	"Comma separated list of headers <em>(h1, h2, h3)</em> that you'd like Doxter to parse." | raw | t,
					value:			settings.addHeaderAnchorsTo,
					errors:			""
				})
			}}
			<hr>
			{{
				forms.textareaField({
					id:				"codeBlockSnippet",
					name:			"codeBlockSnippet",
					class:			"code codeBlockSnippet",
					rows:			5,
					label:			"Code Block Snippet",
					instructions:	"A snippet to wrap fenced code blocks for your syntax highlighter to use.",
					value:			settings.codeBlockSnippet,
					error:			""
				})
			}}

			<button class="addPrismSnippetBtn btn" data-highlighter="PrismJs">PrismJs</button>
			<button class="addRainbowSnippetBtn btn" data-highlighter="RainbowJs">RainbowJs</button>

		</div>

		<div class="doxterSection">
			<h3 class="ico settings">Plugin Settings</h3>
			<p>Display Plugin Tab?</p>
			{{
				forms.lightswitch({
					name:		"enableCpTab",
					on:			settings.enableCpTab
				})
			}}
			{{
				forms.textField({
					id:				"pluginAlias",
					name:			"pluginAlias",
					label:			"Plugin Alias"|t,
					instructions:	"Allows you to rename <strong>"~name~"</strong> to something more meaningful while retaining its name internally."|t,
					value:			alias,
					errors:			""
				})
			}}
		</div>

		<div class="doxterSection credits">
			<p>
				&copy; {{ "now" | date("Y") }}
				<strong>{{ name }} <span class="subtle">({{ version }})</span></strong>
				<em>by</em>
				<a href="http://selvinortiz.com" title="Selvin Ortiz" target="_blank">Selvin Ortiz</a>
			</p>
		</div>
	</div>

{% endblock %}
