#fields-doxter {
  visibility: hidden;
}
#fields-doxter .editor,
#fields-doxter .preview {
  width: 100%;
  height: 400px;
  display: inline-block;
}
.doxter-show {
  visibility: visible;
}
.doxter-tabs {
  margin: 10px 0 0 0;
  padding: 0;
}
.doxter-tab {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.doxter-tab a {
  display: block;
  padding: 5px 20px;
  outline: none;
  font-weight: bold;
}
.doxter-tab a.active {
  background: #fff !important;
  color: #999;
}
.crevasse_editor.default_theme {
  color: #111;
  font-size: 13px;
  line-height: 1.5em;
  padding: 5px 10px;
  resize: none;
}
pre {
  margin-top: 20px;
}
