.doxterHidden {
  visibility: hidden;
}
.doxterEditor,
.doxterPreview {
  width: 100%;
  height: 300px;
  display: inline-block;
}
.doxterTabs {
  margin: 0;
  padding: 0;
}
.doxterTab {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.doxterTab a {
  color: #333 !important;
  display: block;
  padding: 5px 20px;
  outline: none;
  font-weight: bold;
}
.doxterTab a.active {
  background: #fff !important;
  color: #bbb !important;
}
pre {
  margin-top: 20px;
}
.crevasse_editor.default_theme {
  color: #111;
  font-size: 13px;
  line-height: 1.5em;
  padding: 5px 10px;
  resize: none;
}
