pre {
	background: #fdf6e3;
	word-wrap: normal;
	margin: 0;
	padding: 0;
	padding: 10px;
	color: #657b83;
	font-size: 14px;
	margin-bottom: 20px
}

pre, code {
	font-family: 'Monaco', courier, monospace
}

pre .comment {
	color: #93a1a1
}

pre .constant {
	color: #657b83
}

pre .constant.language {
	color: #268bd2
}

pre .constant.regexp {
	color: #2aa198
}

pre .storage {
	color: #268bd2
}

pre .string, pre .comment.docstring {
	color: #2aa198
}

pre .support.tag.script, pre .support.tag.style {
	color: #2aa198
}

pre .string.regexp {
	color: #2aa198
}

pre .string.regexp.open, pre .string.regexp.close {
	color: #2aa198
}

pre .keyword, pre .selector {
	color: #859900
}

pre .inherited-class {
	font-style: italic
}

pre .entity {
	color: #b58900
}

pre .support, *[data-language="c"] .function.call {
	color: #859900
}

pre .support.method {
	color: #657b83
}

pre .support.property {
	color: #657b83
}

pre .variable.global, pre .variable.class, pre .variable.instance {
	color: #657b83
}
